.section-3{
    background-image: url(../../../img/sec-3-back.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.section-3__item{
    display: flex;
    justify-content: space-around;
}

.sec-3__words{
    padding-top: 332px;
    width: 445px;
    height: 136px;
}
.sec-3__img{
    padding-top: 210px;
    padding-right: 117px;
}