
.section-2__item{
    display: flex;
    justify-content: space-around;
}
.item__img{
    padding-top: 150px ;
}
.item__words{
    padding-top: 210px;
    width: 445px;
    height: 165px;

}
.sec-2__article{
    font-size: 48px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    color: #36536B;
}
.sec-2__words{
  
    color: #6C8294;
    font-size: 15px;
    
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
}