.sec-5{ 
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #36536B;
text-align: center;
padding-left: -200px;
margin-top: 70px;
}
.sec-5__input{
    padding: 0;
    margin: 0;
    padding-top: 75px;
    padding-right:300px;
    margin-right: 40px;
}
.section-5__item{
  display: flex;
  justify-content: space-around;
 
}