.sec-4__items{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list__sec-4{
    padding-top: 156px;
    padding: 30px;
    width: 450px;
    height: 300px;
    text-align: center;
}
.sec-4__article{
  

font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #36536B;
}
.sec-4__words{
    font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;

text-align: center;


color: #6C8294;
}