.item{
    width: 546px; 
    height: 345px;
    padding-top: 140px;
    padding-left: 100px;
    margin-right: 200px;
}
.article{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #36536B;

}
.e-mail{
    padding-right: 160px;
    position: absolute;
    width: 272px;
    height: 48px;
    border-radius: 24px;
    border: 0;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
.demo-2{
    position: absolute;
    margin-left: 292px;
    margin-right: 40px;
    width: 143px;
    height: 48px;
    background-color:  rgba(186, 66, 112, 1);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    border: 0;
    cursor: pointer;
}
.words{
    margin-top: 30px;
    color: #6C8294;
    font-size: 15px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;


}
.contact{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    color: #6C8294;
    font-size: 15px;
}
.header__hero{
   display: inline-flex;
   
}
.phone{
padding-top: 120px;
width: 300px;
height: 498.86px;
left: 919.57px;
top: 162.57px;

}